include setup.cfg
include setup.py
include pyqtlet2/__init__.py
include pyqtlet2/mapwidget.py
include pyqtlet2/web/custom.js
include pyqtlet2/web/map.html

recursive-include pyqtlet2/web/modules *
recursive-include pyqtlet2/leaflet *
